.hotel-list {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
}

.none-hotels {
    text-align: center;
    font-size: 30px;
    color: cyan;
}

@media screen and (max-width: 1000px) {
    .hotel-list {
        flex-direction: column;
        padding-left: 80px;
    }
}